<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kapino - About</title>

    {{> base_css}}
</head>

<body>
    {{> header}}

    <div class="container my-5">
        <div class="jumbotron text-center">
            <h1 class="display-3">About Us</h1>
            <p class="lead">Discover new taste by connecting with your local coffee farmers.</p>
            <hr class="my-4">
            <button class="btn btn-dark">Learn more</button>
        </div>
    </div>

    {{> footer}}
</body>
{{> base_js}}

</html>